[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=fgbvjh
Type=Application
Terminal=false
Exec=sh /media/VENISOFT/MY\\ DATA/Java/Super\\ Market/1.sh
Name[en_US]=Linux Run
GenericName[en_US]=
